{% extends "layout.html" %}
{% block content %}

<div role="main" class="main" id="main">
    <section class="section bg-color-light m-0 p-0 pt-3 border-0">
        <div class="container container-custom container-custom-initial">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <ul class="breadcrumb d-block d-flex justify-content-start align-items-center">
                        <li><a href="/">Home</a></li>
                        <li class="active">About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="container my-2 pt-2">
        <div class="row align-items-center justify-content-center mb-5">
            <div class="col-lg-12 pb-sm-4 pb-lg-0 mb-5 mb-lg-0">
                <div class="overflow-hidden">
                    <h4 class="font-weight-bold text-color-dark line-height-1 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="30">Directorate of Treasuries & Accounts</h4>
                </div>
                <div class="custom-divider divider divider-primary divider-small my-3">
                    <hr class="my-0 appear-animation" data-appear-animation="customLineProgressAnim" data-appear-animation-delay="70">
                </div>
                <p class="font-weight-light text-3-5 mb-4 appear-animation text-justify" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="50">
                    The department of Treasuries and Accounts play a prominent role in the functioning of all financial matters in the state. It was created in 1980 emerging as a separate department
                    breaking away as a function under the establishment of the Deputy Commissioner. The department has since then expanded to eleven (11) District Treasuries and twelve (12) Sub-Treasuries.
                    The Department of Treasuries and Accounts is the main organ of the State Government that oversee the functioning of various Government departments and set the ordinances and directives.
                    Accounts officers in various departments administer the financial regulations
                </p>
                <p class="font-weight-light text-3-5 mb-4 appear-animation text-justify" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="70">
                    The Department also executes internal audit of the several departments and private bodies that draw Grants from the Government.
                    It acts as an advisory and guide to the several HoDs and DDOs simultaneously maintaining correct service records as well as accounts.
                </p>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-lg-3">
                <div class="tabs tabs-vertical tabs-right tabs-navigation tabs-navigation-simple">
                    <ul class="nav nav-tabs col-sm-3">
                        <li class="nav-item">
                            <a class="nav-link active" href="#tabsNavigationVertSimple1" data-bs-toggle="tab">Functions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tabsNavigationVertSimple2" data-bs-toggle="tab">Administration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tabsNavigationVertSimple4" data-bs-toggle="tab">Treasury Offices</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tabsNavigationVertSimple5" data-bs-toggle="tab">Organisational Structure</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="tab-pane tab-pane-navigation active" id="tabsNavigationVertSimple1">
                    <div class="heading heading-border heading-bottom-double-border">
                        <h4>Functions</h4>
                    </div>
                    <ul class="list list-icons list-icons-style-3 list-icons-sm">
                        <li><i class="fas fa-check"></i> Administer and enforce the financial rules and regulations in the functioning of all Government Departments.</li>
                        <li><i class="fas fa-check"></i> Enforce financial discipline through the Accounts Officers posted to the Directorates and Works Divisions as well as in the Treasuries.</li>
                        <li><i class="fas fa-check"></i> Carry out Internal Audit of all the Departments of the Government, Local Bodies and Private Institutions that receive Government grants.</li>
                        <li><i class="fas fa-check"></i> Serve as financial advisors and guide to the Head of Departments (HoDs) and the Drawing & Disbursing Officers (DDOs).</li>
                        <li><i class="fas fa-check"></i> Regulation and control of various budgets and expenditures of the Departments.</li>
                        <li><i class="fas fa-check"></i> Keep watch on the accounting system and holding the responsibility of streamlining the accounting system and maintaining records of accounts of the State.</li>
                    </ul>
                </div>
                <div class="tab-pane tab-pane-navigation" id="tabsNavigationVertSimple2">
                    <div class="heading heading-border heading-bottom-double-border">
                        <h4>Administration</h4>
                    </div>
                    <ul class="list list-icons list-icons-style-3 list-icons-sm">
                        <li><i class="fas fa-check"></i> Directorate</li>
                        <li><i class="fas fa-check"></i> Civil Entitlement (NPS & Pay Slip)</li>
                        <li><i class="fas fa-check"></i> Computerization</li>
                        <li><i class="fas fa-check"></i> Internal Audit</li>
                        <li><i class="fas fa-check"></i> Treasuries and Sub-Treasuries</li>
                        <li><i class="fas fa-check"></i> Training</li>
                        <li><i class="fas fa-check"></i> Civil Accounts and various Heads of Departments</li>
                        <li><i class="fas fa-check"></i> Works Accounts in Divisions</li>
                        <li><i class="fas fa-check"></i> Monitoring Cell</li>
                        <li><i class="fas fa-check"></i> IT Cell</li>
                    </ul>
                </div>
                <div class="tab-pane tab-pane-navigation" id="tabsNavigationVertSimple4">
                    <h4>Treasury Offices</h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Treasuries</th>
                                <th>#</th>
                                <th>Sub-Treasuries</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Kohima Treasury Office (North)</td>
                                <td>15</td>
                                <td>Chozuba Sub-Treasury Office</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Kohima Treasury Office (South)</td>
                                <td>16</td>
                                <td>Pfutsero Sub-Treasury Office</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Dimapur Treasury Office</td>
                                <td>17</td>
                                <td>Aboi Sub-Treasury Office</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Mokokchung Treasury Office</td>
                                <td>18</td>
                                <td>Changtongya Sub-Treasury Office</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Tuensang Treasury Office</td>
                                <td>19</td>
                                <td>Mangkolemba Sub-Treasury Office</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Zunheboto Treasury Office</td>
                                <td>20</td>
                                <td>Baghty Sub-Treasury Office</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Wokha Treasury Office</td>
                                <td>21</td>
                                <td>Aghunato Sub-Treasury Office</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Mon Treasury Office</td>
                                <td>22</td>
                                <td>Akuluto Sub-Treasury Office</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>Phek Treasury Office</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>Kiphire Treasury Office</td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>Peren Treasury Office</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>Tseminyu Treasury Office</td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>Chumoukedima Treasury Office</td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>Longleng Treasury Office</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane tab-pane-navigation" id="tabsNavigationVertSimple5">
                    <h4>Organisational Structure</h4>
                    <table class="table table-bordered">
                        <thead>
                            <tr style="vertical-align: middle;">
                                <th>#</th>
                                <th>Name of Post</th>
                                <th class="text-center">Sanctioned Post</th>
                                <th>Category of Post/Section</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="vertical-align: middle;">
                                <td>1</td>
                                <td>Pricipal Director</td>
                                <td class="text-center">1</td>
                                <td></td>
                            </tr>
                            <tr style="vertical-align: middle;">
                                <td rowspan="2">2</td>
                                <td rowspan="2">Director</td>
                                <td rowspan="2" class="text-center">2</td>
                                <td>1) Director (Accounts)</td>
                            </tr>
                            <tr style="vertical-align: middle;">
                                <td>2) Director (Treasuries)</td>
                            </tr>
                            <tr style="vertical-align: middle;">
                                <td rowspan="3">3</td>
                                <td rowspan="3">Additional Director</td>
                                <td rowspan="3" class="text-center">3</td>
                                <td>1) Additional Director (Treasuries)</td>
                            </tr>
                            <tr style="vertical-align: middle;">
                                <td>2) Additional Director (Accounts)</td>
                            </tr>
                            <tr style="vertical-align: middle;">
                                <td>3) Additional Director (Civil Entitlement)</td>
                            </tr>
                            <tr style="vertical-align: middle;">
                                <td rowspan="4">4</td>
                                <td rowspan="4">Dy Director / Sr. TO / Sr.A.O / Sr. Lecture</td>
                                <td rowspan="4" class="text-center">34</td>
                                <td>Dy Director (3)</td>
                            </tr>
                            <tr style="vertical-align: middle;">
                                <td>Sr. Treasury Officer (10)</td>
                            </tr>
                            <tr style="vertical-align: middle;">
                                <td>Sr. Accounts Officer (20)</td>
                            </tr>
                            <tr style="vertical-align: middle;">
                                <td>Sr. Lecture (1)</td>
                            </tr>
                            <tr style="vertical-align: middle;">
                                <td rowspan="4">5</td>
                                <td rowspan="4">Asst. Director / T.O / A.O / Lecture</td>
                                <td rowspan="4" class="text-center">40</td>
                                <td>Assistant Director - 1 (Internal Audit)</td>
                            </tr>
                            <tr style="vertical-align: middle;">
                                <td>Treasury Officer (5)</td>
                            </tr>
                            <tr style="vertical-align: middle;">
                                <td>Accounts Officer (32)</td>
                            </tr>
                            <tr style="vertical-align: middle;">
                                <td>Lecture (2)</td>
                            </tr>
                            <tr style="vertical-align: middle;">
                                <td rowspan="4">6</td>
                                <td rowspan="4">S.T.O. / J.A.O. / D.A.O. / Audit Officer</td>
                                <td rowspan="4" class="text-center">121</td>
                                <td>S.T.O (23)</td>
                            </tr>
                            <tr style="vertical-align: middle;">
                                <td>J.A.O (14)</td>
                            </tr>
                            <tr style="vertical-align: middle;">
                                <td>D.A.O (79)</td>
                            </tr>
                            <tr style="vertical-align: middle;">
                                <td>Audit Officer (5)</td>
                            </tr>
                        </tbody>
                    </table>
                    <ul>
                        <li>Total No. of Gazetted Posts = 222</li>
                        <li>Total No. of Non-Gazetted Posts= 786</li>
                        <li>Total No. of Posts in the Department= 1008</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

   
</div>

{% endblock %}
