{% extends "layout.html" %}
{% block content %}
<div role="main" class="main" id="main">
    <section class="section bg-color-light m-0 p-0 pt-3 border-0">
        <div class="container container-custom container-custom-initial">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <ul class="breadcrumb d-block d-flex justify-content-start align-items-center">
                        <li><a href="/">Home</a></li>
                        <li class="active">Grievance</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="section bg-color-light m-0 p-0 p-4 pb-5 border-0">
       <div class="container container-custom">
            <div class="row">
                <form action="{% url 'grievance' %}" method="post" autocomplete="off" >
                    {% csrf_token %}
                        {% if success %}
                            <div class="contact-form-success alert alert-success mt-4">
                                <strong>Success!</strong> Your grievance has been sent to us.
                            </div>
                        {% endif %}
                        <div class="card-body card" style="border-color: cornflowerblue;">
                            <div class="form-group row">
                                <div class="col-lg-4">
                                    <label>District <span class="text-danger">*</span></label>
                                    <select class="form-control" name="district" required>
                                        <option value="">Select District</option>
                                        {% for data in district_list %}
                                            <option value="{{ data.id }}">{{ data.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <label>Treasury <span class="text-danger">*</span></label>
                                    <select class="form-control" name="treasury" required>
                                        <option value="">Select Treasury</option>
                                        {% for data in treasury_list %}
                                            <option value="{{ data.id }}">{{ data.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <label>Department <span class="text-danger">*</span></label>
                                    <select class="form-control" name="department" required>
                                        <option value="">Select Department</option>
                                        {% for data in department_list %}
                                            <option value="{{ data.id }}">{{ data.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>Applicant Name <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="applicant_name" required>
                                </div>
                                <div class="col-lg-6">
                                    <label>Contact No <span class="text-danger">*</span></label>
                                    <input type="number" class="form-control" max="9999999999" name="contact_no" required>
                                </div>
                            </div>
                            <br>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>Grievance Category <span class="text-danger">*</span></label>
                                    <select class="form-control" name="grievance_category" required>
                                        <option value="">Select Grievance Category</option>
                                        {% for data in grievance_category_list %}
                                            <option value="{{ data.id }}">{{ data.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-lg-6">
                                    <label>PPO Number <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="ppo_no" required>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                    <label>Query/Grievance <span class="text-danger">*</span></label>
                                    <textarea type="text" rows="5" class="form-control" name="description"></textarea>
                            </div>
                            <div class="col-md-12 row" style="float:left">
                                <hr>
                                    <div class="col-lg-3">
                                        <input type="text" class="form-control" name="applicant_name" required>
                                    </div>
                                    <div class="col-lg-3">
                                        <button type="submit" name="submit" class="btn btn-primary">Submit</button>
                                    </div>
                            </div>
                        </div>
                    </form>
			
            </div>
       </div>
    </section>
</div>
{% endblock content %}
    