{% extends "layout.html" %}
{% load static %}
{% block content %}
    <div role="main" class="main" id="main">
        <div class="owl-carousel owl-carousel-light owl-carousel-light-init-fadeIn owl-theme manual dots-inside dots-horizontal-center show-dots-hover nav-inside nav-inside-plus nav-dark nav-md nav-font-size-md show-nav-hover mb-0"
             data-plugin-options="{'autoplayTimeout': 5000}"
             data-dynamic-height="['670px','670px','670px','550px','500px']" style="height: 670px;">
            <div class="owl-stage-outer">
                <div class="owl-stage">
                    <!-- Carousel Slide 1 -->
                    <div class="owl-item position-relative overlay overlay-show overlay-op-8 lazyload"
                         data-bg-src="media/slider/slide_1.jpg"
                         style="background-size: cover; background-position: center;">
                        <div class="container position-relative z-index-3 h-100">
                            <div class="row justify-content-center align-items-center h-100">
                                <div class="col-lg-6">
                                    <div class="d-flex flex-column align-items-center">
                                        <h3 class="position-relative text-color-light text-5 line-height-5 font-weight-medium px-4 mb-2 appear-animation"
                                    data-appear-animation="fadeInDownShorter"
                                    data-plugin-options="{'minWindowWidth': 0}">
                                    Directorate <span class="position-relative">of </span>
                                </h3>
                                <h1 class="text-color-light font-weight-extra-bold text-12 mb-3 appear-animation"
                                    data-appear-animation="blurIn" data-appear-animation-delay="300"
                                    data-plugin-options="{'minWindowWidth': 0}">Treasuries & Accounts</h1>
                                <p class="text-4 text-color-light font-weight-light opacity-7 mb-0"
                                   data-plugin-animated-letters
                                   data-plugin-options="{'startDelay': 1000, 'minWindowWidth': 0}">Nagaland</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Carousel Slide 2 -->
                    <div class="owl-item position-relative overlay overlay-show overlay-op-8 lazyload"
                         data-bg-src="media/slider/slider_2.jpg"
                         style="background-size: cover; background-position: center;">
                        <div class="container position-relative z-index-3 h-100">
                            <div class="row justify-content-center align-items-center h-100">
                                <div class="col-lg-6">
                                    <div class="d-flex flex-column align-items-center">
                                        <h3 class="position-relative text-color-light text-5 line-height-5 font-weight-medium px-4 mb-2 appear-animation"
                                            data-appear-animation="fadeInDownShorter"
                                            data-plugin-options="{'minWindowWidth': 0}">

                                            Do you have any
                                            <span class="position-absolute left-100pct top-50pct transform3dy-n50 opacity-3"></span>

                                        </h3>
                                        <h2 class="text-color-light font-weight-extra-bold text-12 mb-3 appear-animation"
                                            data-appear-animation="blurIn" data-appear-animation-delay="200"
                                            data-plugin-options="{'minWindowWidth': 0}">Grievances?</h2>
                                         <a href="{% url 'grievance' %}" class="btn btn-secondary" data-plugin-options="{'startDelay': 100, 'minWindowWidth': 0, 'animationSpeed': 10}">Click Here</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="owl-nav">
                <button type="button" role="presentation" class="owl-prev" aria-label="Previous"></button>
                <button type="button" role="presentation" class="owl-next" aria-label="Next"></button>
            </div>
            <div class="owl-dots mb-5">
                <button role="button" class="owl-dot active"><span></span></button>
                <button role="button" class="owl-dot"><span></span></button>
            </div>
        </div>
        <div class="home-intro light border border-bottom-0 mb-0">
            <div class="container">

                <div class="row align-items-center">
                    <div class="col-lg-10">
                        <p class="font-weight-bold text-color-dark">
                            Directorate of Treasuries & Accounts, <span
                                class="highlighted-word highlighted-word-animation-1 text-color-primary font-weight-semibold text-5">Nagaland</span>
                            <span>The department of Treasuries and Accounts play a prominent role in the functioning of all financial matters in the state. The Department of Treasuries and Accounts is the main organ of the State Government that oversee the functioning of various Government departments and set the ordinances and directives...</span>
                        </p>
                    </div>
                    <div class="col-lg-2">
                        <div class="get-started text-left text-lg-right">
                            <a href="{% url 'about' %}"
                               class="btn btn-primary btn-lg text-3 font-weight-semibold btn-py-2 px-4">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container py-4">
            <div class="row mb-5 pb-3">
                <div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
                     data-appear-animation-delay="200">
                    <h4 class="mb-4">Notification</h4>
                    <div class="card">
                        <div class="card-body">
                            {% if notification %}
                                <ul class="list list-icons list-primary list-borders">
                                    {% for data in notification %}
                                        <li>
                                            <i class="fas fa-check"></i> <a
                                                href="media/notification/{{ data.file_path }}"
                                                target="_blank">{{ data.title }}</a>
                                        </li>
                                    {% endfor %}
                                    <li></li>
                                </ul>
                                <div style="float: right;">
                                <span class="d-block mt-2"><a href="{% url 'notification' %}"
                                                              class="btn btn-xs btn-primary text-1 text-uppercase">...Read More</a></span>
                                </div>
                            {% else %}
                                <div>
                                    <label>No data available</label>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
                     data-appear-animation-delay="200">
                    <h4 class="mb-4">Download</h4>
                    <div class="card">
                        <div class="card-body">
                            {% if download %}
                                <ul class="list list-icons list-primary list-borders">
                                    {% for data in download %}
                                        <li>
                                            <i class="fas fa-check"></i> <a href="media/download/{{ data.file_path }}"
                                                                            target="_blank">{{ data.title }}</a>
                                        </li>
                                    {% endfor %}
                                    <li></li>
                                </ul>
                                <div style="float: right;">
                                <span class="d-block mt-2"><a href="{% url 'download' %}?type={{ download_type }}"
                                                              class="btn btn-xs btn-primary text-1 text-uppercase">...Read More</a></span>
                                </div>
                            {% else %}
                                <div>
                                    <label>No data available</label>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter"
                     data-appear-animation-delay="200">
                    <h4 class="mb-4">Advertisement</h4>
                    <div class="card">
                        <div class="card-body">
                            {% if advertisement %}
                                <ul class="list list-icons list-primary list-borders">
                                    {% for data in advertisement %}
                                        <li>
                                            <i class="fas fa-check"></i> <a
                                                href="media/advertisement/{{ data.file_path }}"
                                                target="_blank">{{ data.title }}</a>
                                        </li>
                                    {% endfor %}
                                    <li></li>
                                </ul>
                                <div style="float: right;">
                                <span class="d-block mt-2"><a href="{% url 'advertisement' %}"
                                                              class="btn btn-xs btn-primary text-1 text-uppercase">...Read More</a></span>
                                </div>
                            {% else %}
                                <div>
                                    <label>No data available</label>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="container py-4">
            <div class="row">
                <div class="col">
                    <h4>News & Events</h4>
                    <div class="blog-posts">
                        <div class="masonry-loader masonry-loader-showing">
                            <div class="masonry row" data-plugin-masonry
                                 data-plugin-options="{'itemSelector': '.masonry-item'}">
                                {% for data in news_events %}
                                    <div class="masonry-item no-default-style col-md-4">
                                        <article class="post post-medium border-0 pb-0 mb-5">
                                            {% if data.file_path %}
                                                <div class="post-image">
                                                    <a href="{% url 'news-events' %}?id={{ data.id }}">
                                                        <img src="media/news/{{ data.file_path }}"
                                                             style="width: 250px !important; height: 120px !important;"
                                                             class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0"
                                                             alt="DTA"/>
                                                    </a>
                                                </div>
                                            {% endif %}
                                            <div class="post-content">

                                                <h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a
                                                        href="{% url 'news-events' %}?id={{ data.id }}">{{ data.title }}</a>
                                                </h2>
                                                <div class="post-meta">
                                                    <span><i class="far fa-calendar"></i> Uploaded Date: <a
                                                            href="#">{{ data.uploaded_date|date:'d-m-Y' }}</a> </span>
                                                </div>
                                                <p style="text-align: justify;">{{ data.description|truncatechars:150 }}</p>
                                            </div>
                                        </article>
                                    </div>
                                {% endfor %}
                            </div>
                            <div style="float: right;">
                                <span class="d-block mt-2"><a href="{% url 'news-events' %}"
                                                              class="btn btn-xs btn-light text-1 text-uppercase">...Read More</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="section section-height-3 bg-primary border-0 m-0">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-xl-7 text-center text-lg-start mb-4 mb-lg-0">
                        <h2 class="text-color-light font-weight-medium text-3-5 line-height-2 line-height-sm-1 ls-0 mb-2 mb-lg-2">
                            Are there any grievances you'd like to discuss?</h2>
                        <!-- <h3 class="font-weight-bold text-color-light text-transform-none text-8 line-height-2 line-height-lg-1 mb-1">Best Mechanics Downtown Los Angeles CA</h3> -->
                        <p class="font-weight-bold text-color-light text-4 opacity-7 mb-0">Submit Your Grievance With
                            Our Online Form</p>
                    </div>
                    <div class="col-lg-6 col-xl-5">
                        <div class="d-flex flex-column flex-lg-row align-items-center justify-content-between">
                            <div class="feature-box align-items-center mb-3 mb-lg-0">
                                <div class="feature-box-icon bg-transparent">
                                    <i class="icons icon-phone text-6 text-color-light"></i>
                                </div>
                                <div class="feature-box-info line-height-2 ps-1">
                                    <span class="d-block text-1 font-weight-semibold text-color-light mb-1">CALL US NOW</span>
                                    <strong class="text-4-5"><a href="#" class="text-color-light text-decoration-none">+91(370)2999283</a></strong>
                                </div>
                            </div>
                            <a href="{% url 'grievance' %}"
                               class="btn btn-light btn-outline custom-btn-border-radius font-weight-bold text-color-light text-color-hover-dark bg-color-hover-light btn-px-5 btn-py-3">Submit
                                Online</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container container-xl">
            <div class="row text-center py-4 my-5">
                <div class="owl-carousel owl-theme carousel-center-active-item mb-0"
                     data-plugin-options="{'responsive': {'0': {'items': 1}, '476': {'items': 1}, '768': {'items': 5}, '992': {'items': 7}, '1200': {'items': 7}}, 'margin': 50, 'autoplay': true, 'autoplayTimeout': 3000, 'dots': false}">
                    <div>
                        <a href="https://digilocker.gov.in/" target="_blank" class="ext-link"><img
                                src="{% static 'img/clients/dl-logo.jpeg' %}" alt="Clients"></a>
                    </div>
                    <div>
                        <a href="https://data.gov.in/" target="_blank" class="ext-link"><img
                                src="{% static 'img/clients/data-logo.jpeg' %}" alt="Clients"></a>
                    </div>
                    <div>
                        <a href="https://guidelines.india.gov.in" target="_blank" class="ext-link"><img
                                src="{% static 'img/clients/GIGW.jpeg' %}" alt="Clients"></a>
                    </div>
                    <div>
                        <a href="https://nagaland.mygov.in" target="_blank" class="ext-link"><img
                                src="{% static 'img/clients/mygov-logo.jpeg' %}" alt="Clients"></a>
                    </div>
                    <div>
                        <a href="https://aarogyasetu.gov.in/" target="_blank" class="ext-link"><img
                                src="{% static 'img/clients/aarogya-logo.jpeg' %}" alt="Clients"></a>
                    </div>
                    <div>
                        <a href="https://etaal.gov.in/" target="_blank" class="ext-link"><img
                                src="{% static 'img/clients/etaal-logo.jpeg' %}" alt="Clients"></a>
                    </div>
                    <div>
                        <a href="https://umang.gov.in/" target="_blank" class="ext-link"><img
                                src="{% static 'img//clients/umang-logo.jpeg' %}" alt="Clients"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
