{% extends "layout.html" %}
{% block content %}

<div role="main" class="main" id="main">
    <div class="owl-carousel owl-carousel-light owl-carousel-light-init-fadeIn owl-theme manual dots-inside dots-horizontal-center show-dots-hover nav-inside nav-inside-plus nav-dark nav-md nav-font-size-md show-nav-hover mb-0" data-plugin-options="{'autoplayTimeout': 7000}" data-dynamic-height="['670px','670px','670px','550px','500px']" style="height: 670px;">
        <div class="owl-stage-outer">
            <div class="owl-stage">
                <!-- Carousel Slide 1 -->
                <div class="owl-item position-relative" style="background-image: url(img/slides/slide-bg-performance.jpg); background-color: #2E3136; background-size: cover; background-position: center;">
                    <div class="container position-relative z-index-1 h-100">
                        <div class="d-flex flex-column align-items-center justify-content-center h-100">
                            <h3 class="position-relative text-color-light text-5 line-height-5 font-weight-medium px-4 mb-2 appear-animation" data-appear-animation="fadeInDownShorter" data-plugin-options="{'minWindowWidth': 0}">
                                <span class="position-absolute right-100pct top-50pct transform3dy-n50 opacity-3">
                                    <img src="/static/img/slides/slide-title-border.png" class="w-auto appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" />
                                </span>
                                DO YOU NEED A <span class="position-relative">NEW <span class="position-absolute left-50pct transform3dx-n50 top-0 mt-4"><img src="/static/img/slides/slide-blue-line.png" class="w-auto appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="1000" data-plugin-options="{'minWindowWidth': 0}" alt="" /></span></span>
                                <span class="position-absolute left-100pct top-50pct transform3dy-n50 opacity-3">
                                    <img src="/static/img/slides/slide-title-border.png" class="w-auto appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" />
                                </span>
                            </h3>
                            <h1 class="text-color-light font-weight-extra-bold text-12 mb-3 appear-animation" data-appear-animation="blurIn" data-appear-animation-delay="500" data-plugin-options="{'minWindowWidth': 0}">WEB DESIGN?</h1>
                            <p class="text-4 text-color-light font-weight-light opacity-7 mb-0" data-plugin-animated-letters data-plugin-options="{'startDelay': 1000, 'minWindowWidth': 0}">Check out our options and features</p>
                        </div>
                    </div>
                </div>

                <!-- Carousel Slide 2 -->
                <div class="owl-item position-relative overlay overlay-show overlay-op-8 lazyload" data-bg-src="/static/img/slides/slide-bg-2.jpg" style="background-size: cover; background-position: center;">
                    <div class="container position-relative z-index-3 h-100">
                        <div class="row justify-content-center align-items-center h-100">
                            <div class="col-lg-6">
                                <div class="d-flex flex-column align-items-center">
                                    <h3 class="position-relative text-color-light text-5 line-height-5 font-weight-medium px-4 mb-2 appear-animation" data-appear-animation="fadeInDownShorter" data-plugin-options="{'minWindowWidth': 0}">
                                        <span class="position-absolute right-100pct top-50pct transform3dy-n50 opacity-3">
                                            <img src="/static/img/lazy.png" data-src="/static/img/slides/slide-title-border.png" class="w-auto appear-animation lazyload" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="250" data-plugin-options="{'imgFluid': false, 'minWindowWidth': 0}" alt="" />
                                        </span>
                                        WE WORK HARD AND PORTO HAS
                                        <span class="position-absolute left-100pct top-50pct transform3dy-n50 opacity-3">
                                            <img src="/static/img/lazy.png" data-src="/static/img/slides/slide-title-border.png" class="w-auto appear-animation lazyload" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="250" data-plugin-options="{'imgFluid': false, 'minWindowWidth': 0}" alt="" />
                                        </span>
                                    </h3>
                                    <h2 class="text-color-light font-weight-extra-bold text-12 mb-3 appear-animation" data-appear-animation="blurIn" data-appear-animation-delay="500" data-plugin-options="{'minWindowWidth': 0}">THE BEST DESIGN</h2>
                                    <p class="text-4 text-color-light font-weight-light opacity-7 text-center mb-0" data-plugin-animated-letters data-plugin-options="{'startDelay': 1000, 'minWindowWidth': 0, 'animationSpeed': 30}">Trusted by over <strong class="text-color-light">40,000</strong> satisfied users, Porto is a huge success in the one of largest world's MarketPlace</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Carousel Slide 3 -->
                <div class="owl-item position-relative overlay overlay-color-primary overlay-show overlay-op-8 lazyload" data-bg-src="/static/img/slides/slide-bg-6.jpg" style="background-size: cover; background-position: center;">
                    <div class="container position-relative z-index-3 h-100">
                        <div class="row justify-content-center align-items-center h-100">
                            <div class="col-lg-6">
                                <div class="d-flex flex-column align-items-center">
                                    <h3 class="position-relative text-color-light text-4 line-height-5 font-weight-medium px-4 mb-2 appear-animation" data-appear-animation="fadeInDownShorter" data-plugin-options="{'minWindowWidth': 0}">
                                        <span class="position-absolute right-100pct top-50pct transform3dy-n50 opacity-3">
                                            <img src="/static/img/lazy.png" data-src="/static/img/slides/slide-title-border.png" class="w-auto appear-animation lazyload" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="250" data-plugin-options="{'imgFluid': false, 'minWindowWidth': 0}" alt="" />
                                        </span>
                                        WE CREATE DESIGNS, WE ARE
                                        <span class="position-absolute left-100pct top-50pct transform3dy-n50 opacity-3">
                                            <img src="/static/img/lazy.png" data-src="/static/img/slides/slide-title-border.png" class="w-auto appear-animation lazyload" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="250" data-plugin-options="{'imgFluid': false, 'minWindowWidth': 0}" alt="" />
                                        </span>
                                    </h3>
                                    <h2 class="porto-big-title text-color-light font-weight-extra-bold mb-3" data-plugin-animated-letters data-plugin-options="{'startDelay': 1000, 'minWindowWidth': 0, 'animationSpeed': 300, 'animationName': 'fadeInRightShorterOpacity', 'letterClass': 'd-inline-block'}">PORTO</h2>
                                    <p class="text-4 text-color-light font-weight-light text-center mb-0" data-plugin-animated-letters data-plugin-options="{'startDelay': 2000, 'minWindowWidth': 0}">The best choice for your new website</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="owl-nav">
            <button type="button" role="presentation" class="owl-prev" aria-label="Previous"></button>
            <button type="button" role="presentation" class="owl-next" aria-label="Next"></button>
        </div>
        <div class="owl-dots mb-5">
            <button role="button" class="owl-dot active"><span></span></button>
            <button role="button" class="owl-dot"><span></span></button>
            <button role="button" class="owl-dot"><span></span></button>
        </div>
    </div>

    <div class="container my-5 pt-md-4 pt-xl-0">
        <div class="row align-items-center justify-content-center pb-4 mb-5">
            <div class="col-lg-6 pb-sm-4 pb-lg-0 mb-5 mb-lg-0">
                <div class="overflow-hidden">
                    <h2 class="font-weight-bold text-color-dark line-height-1 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="300">Treasuries & Accounts</h2>
                </div>
                <div class="custom-divider divider divider-primary divider-small my-3">
                    <hr class="my-0 appear-animation" data-appear-animation="customLineProgressAnim" data-appear-animation-delay="700">
                </div>
                <p class="font-weight-light text-3-5 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="450">The department of Treasuries and Accounts play a prominent role in the functioning of all financial matters in the state. The Department of Treasuries and Accounts is the main organ of the State Government that oversee the functioning of various Government departments and set the ordinances and directives. Accounts officers in various departments administer the financial regulations</p>
                <p class="pb-1 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700">The Department also executes internal audit of the several departments and private bodies that draw Grants from the Government. It acts as an advisory and guide to the several HoDs and DDOs simultaneously maintaining correct service records as well as accounts</p>

            </div>
            <div class="col-10 col-md-9 col-lg-6 ps-lg-5 pe-5 appear-animation" data-appear-animation="fadeInRightShorterPlus" data-appear-animation-delay="1450" data-plugin-options="{'accY': -200}">
                <div class="position-relative">
                    <div data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.2, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}">
                        <img src="/static/img/demos/auto-services/generic-1.png" class="img-fluid" alt=""/>
                    </div>
                    <div class="position-absolute transform3dxy-n50" style="top: 25%; left: 7%;">
                        <div data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.5, 'transition': true, 'transitionDuration': 2000, 'isInsideSVG': false}">
                            <img src="/static/img/demos/auto-services/generic-1-1.png" class="appear-animation" alt="" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="1700"/>
                        </div>
                    </div>
                    <div class="position-absolute transform3dxy-n50 ms-5 pb-5 ms-xl-0" style="top: 32%; left: 85%;">
                        <div data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 1, 'transition': true, 'transitionDuration': 1500, 'isInsideSVG': false}">
                            <img src="/static/img/demos/auto-services/generic-1-2.png" class="appear-animation" alt="" data-appear-animation="fadeInRightShorterPlus" data-appear-animation-delay="1900"/>
                        </div>
                    </div>
                    <div class="position-absolute transform3dxy-n50" style="top: 90%; left: 19%;">
                        <div data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 2, 'transition': true, 'transitionDuration': 2500, 'isInsideSVG': false}">
                            <img src="/static/img/demos/auto-services/generic-1-3.png" class="appear-animation" alt="" data-appear-animation="fadeInDownShorterPlus" data-appear-animation-delay="2100"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-lg-3 text-center px-lg-5 mb-5 mb-lg-0">
                <a href="demo-auto-services-services-detail.html" class="text-decoration-none">
                    <div class="custom-icon-box-style-1 appear-animation" data-appear-animation="fadeInRightShorterPlus" data-appear-animation-delay="250" data-plugin-options="{'accY': -200}">
                        <div class="custom-icon-style-1 mb-4">
                            <img width="50" src="/static/img/demos/auto-services/icons/checklist.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}"/>
                        </div>
                        <h3 class="text-transform-none font-weight-bold text-color-dark line-height-3 text-4-5 px-3 px-xl-5 my-2">TreasuryNet System</h3>
                        <p>Lorem ipsum dolor sit a met, consectetur adipiscing elit.</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 text-center px-lg-5 mb-5 mb-lg-0">
                <a href="demo-auto-services-services-detail.html" class="text-decoration-none">
                    <div class="custom-icon-box-style-1 appear-animation" data-appear-animation="fadeInRightShorterPlus" data-appear-animation-delay="500" data-plugin-options="{'accY': -200}">
                        <div class="custom-icon-style-1 mb-4">
                            <img width="50" src="/static/img/demos/auto-services/icons/wheel-disk.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}"/>
                        </div>
                        <h3 class="text-transform-none font-weight-bold text-color-dark line-height-3 text-4-5  my-2">Budget Management System</h3>
                        <p>Lorem ipsum dolor sit a met, consectetur adipiscing elit.</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 text-center px-lg-5">
                <a href="demo-auto-services-services-detail.html" class="text-decoration-none">
                    <div class="custom-icon-box-style-1 appear-animation" data-appear-animation="fadeInRightShorterPlus" data-appear-animation-delay="750" data-plugin-options="{'accY': -200}">
                        <div class="custom-icon-style-1 mb-4">
                            <img width="50" src="/static/img/demos/auto-services/icons/car-safe.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}"/>
                        </div>
                        <h3 class="text-transform-none font-weight-bold text-color-dark line-height-3 text-4-5 px-4 px-xl-5 my-2">ePay Bill System</h3>
                        <p>Lorem ipsum dolor sit a met, consectetur adipiscing elit.</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 text-center px-lg-5">
                <a href="demo-auto-services-services-detail.html" class="text-decoration-none">
                    <div class="custom-icon-box-style-1 appear-animation" data-appear-animation="fadeInRightShorterPlus" data-appear-animation-delay="750" data-plugin-options="{'accY': -200}">
                        <div class="custom-icon-style-1 mb-4">
                            <img width="50" src="/static/img/demos/auto-services/icons/car-safe.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}"/>
                        </div>
                        <h3 class="text-transform-none font-weight-bold text-color-dark line-height-3 text-4-5 px-4 px-xl-5 my-2">eGPF G4 System</h3>
                        <p>Lorem ipsum dolor sit a met, consectetur adipiscing elit.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    

    <div class="container py-4">
    <div class="row">
        <div class="col">
            <h3>News & Events</h3>
            <div class="blog-posts">
                <div class="masonry-loader masonry-loader-showing">
                    <div class="masonry row" data-plugin-masonry data-plugin-options="{'itemSelector': '.masonry-item'}">
                        <div class="masonry-item no-default-style col-md-4">
                            <article class="post post-medium border-0 pb-0 mb-5">
                                <div class="post-image">
                                    <a href="blog-post.html">
                                        <img src="img/blog/medium/blog-58.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="Top Camper Trailer Towing Tips" />
                                    </a>
                                </div>

                                <div class="post-content">

                                    <h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a href="blog-post.html">Top Camper Trailer Towing Tips</a></h2>
                                    <p>Euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

                                    <div class="post-meta">
                                        <span><i class="far fa-user"></i> By <a href="#">John Doe</a> </span>
                                        <span><i class="far fa-folder"></i> <a href="#">Travel</a>, <a href="#">Lifestyle</a> </span>
                                        <span><i class="far fa-comments"></i> <a href="#">12 Comments</a></span>
                                        
                                    </div>

                                </div>
                            </article>
                        </div>

                        <div class="masonry-item no-default-style col-md-4">
                            <article class="post post-medium border-0 pb-0 mb-5">
                                <div class="post-image">
                                    <a href="blog-post.html">
                                        <img src="img/blog/medium/blog-59.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="5 Lovely Walks in New York" />
                                    </a>
                                </div>

                                <div class="post-content">

                                    <h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a href="blog-post.html">5 Lovely Walks in New York</a></h2>
                                    <p>Euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

                                    <div class="post-meta">
                                        <span><i class="far fa-user"></i> By <a href="#">John Doe</a> </span>
                                        <span><i class="far fa-folder"></i> <a href="#">Travel</a>, <a href="#">Photography</a> </span>
                                        <span><i class="far fa-comments"></i> <a href="#">12 Comments</a></span>
                                        
                                    </div>

                                </div>
                            </article>
                        </div>

                        <div class="masonry-item no-default-style col-md-4">
                            <article class="post post-medium border-0 pb-0 mb-5">
                                <div class="post-image">
                                    <a href="blog-post.html">
                                        <img src="img/blog/medium/blog-60.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="How to Become a Professional Photographer" />
                                    </a>
                                </div>

                                <div class="post-content">

                                    <h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a href="blog-post.html">How to Become a Professional Photographer</a></h2>
                                    <p>Euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

                                    <div class="post-meta">
                                        <span><i class="far fa-user"></i> By <a href="#">John Doe</a> </span>
                                        <span><i class="far fa-folder"></i> <a href="#">Photography</a>, <a href="#">Lifestyle</a> </span>
                                        <span><i class="far fa-comments"></i> <a href="#">12 Comments</a></span>
                                    </div>

                                </div>
                            </article>
                        </div>
                        
                    </div>
                    <div style="float: right;">
                        <span class="d-block mt-2"><a href="{% url 'news-events' %}" class="btn btn-xs btn-light text-1 text-uppercase">...Read More</a></span>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="lightbox" data-plugin-options="{'delegate': 'a', 'type': 'image', 'gallery': {'enabled': true}, 'mainClass': 'mfp-with-zoom', 'zoom': {'enabled': true, 'duration': 300}}">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 col-md-3 px-0">
                    <a class="d-inline-block custom-img-thumbnail-style-1 img-thumbnail img-thumbnail-no-borders img-thumbnail-hover-icon rounded-0" href="/static/img/demos/auto-services/generic/generic-square-1.jpg">
                        <img class="img-fluid rounded-0" src="/static/img/demos/auto-services/generic/generic-square-1.jpg" alt=""/>
                    </a>
                </div>
                <div class="col-6 col-md-3 px-0">
                    <a class="d-inline-block custom-img-thumbnail-style-1 img-thumbnail img-thumbnail-no-borders img-thumbnail-hover-icon rounded-0" href="/static/img/demos/auto-services/generic/generic-square-2.jpg">
                        <img class="img-fluid rounded-0" src="/static/img/demos/auto-services/generic/generic-square-2.jpg" alt=""/>
                    </a>
                </div>
                <div class="col-6 col-md-3 px-0">
                    <a class="d-inline-block custom-img-thumbnail-style-1 img-thumbnail img-thumbnail-no-borders img-thumbnail-hover-icon rounded-0" href="/static/img/demos/auto-services/generic/generic-square-3.jpg">
                        <img class="img-fluid rounded-0" src="/static/img/demos/auto-services/generic/generic-square-3.jpg" alt=""/>
                    </a>
                </div>
                <div class="col-6 col-md-3 px-0">
                    <a class="d-inline-block custom-img-thumbnail-style-1 img-thumbnail img-thumbnail-no-borders img-thumbnail-hover-icon rounded-0" href="/static/img/demos/auto-services/generic/generic-square-4.jpg">
                        <img class="img-fluid rounded-0" src="/static/img/demos/auto-services/generic/generic-square-4.jpg" alt=""/>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <section class="section section-height-3 bg-primary border-0 m-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-xl-7 text-center text-lg-start mb-4 mb-lg-0">
                    <h2 class="text-color-light font-weight-medium text-3-5 line-height-2 line-height-sm-1 ls-0 mb-2 mb-lg-2">Are there any issues you'd like to discuss?</h2>
                    <!-- <h3 class="font-weight-bold text-color-light text-transform-none text-8 line-height-2 line-height-lg-1 mb-1">Best Mechanics Downtown Los Angeles CA</h3> -->
                    <p class="font-weight-bold text-color-light text-4 opacity-7 mb-0">Submit Your Grievance With Our Online Form</p>
                </div>
                <div class="col-lg-6 col-xl-5">
                    <div class="d-flex flex-column flex-lg-row align-items-center justify-content-between">
                        <div class="feature-box align-items-center mb-3 mb-lg-0">
                            <div class="feature-box-icon bg-transparent">
                                <i class="icons icon-phone text-6 text-color-light"></i>
                            </div>
                            <div class="feature-box-info line-height-2 ps-1">
                                <span class="d-block text-1 font-weight-semibold text-color-light mb-1">CALL US NOW</span>
                                <strong class="text-4-5"><a href="#" class="text-color-light text-decoration-none">+91(370)2999283</a></strong>
                            </div>
                        </div>
                        <a href="{% url 'grievance' %}" class="btn btn-light btn-outline custom-btn-border-radius font-weight-bold text-color-light text-color-hover-dark bg-color-hover-light btn-px-5 btn-py-3">Submit Online</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container container-xl">
        <div class="row text-center py-4 my-5">
            <div class="owl-carousel owl-theme carousel-center-active-item mb-0" data-plugin-options="{'responsive': {'0': {'items': 1}, '476': {'items': 1}, '768': {'items': 5}, '992': {'items': 7}, '1200': {'items': 7}}, 'margin': 50, 'autoplay': true, 'autoplayTimeout': 3000, 'dots': false}">
                <div>
                    <img class="img-fluid" src="static/img/logos/logo-1.png" alt="">
                </div>
                <div>
                    <img class="img-fluid" src="static/img/logos/logo-2.png" alt="">
                </div>
                <div>
                    <img class="img-fluid" src="static/img/logos/logo-3.png" alt="">
                </div>
                <div>
                    <img class="img-fluid" src="static/img/logos/logo-4.png" alt="">
                </div>
                <div>
                    <img class="img-fluid" src="static/img/logos/logo-5.png" alt="">
                </div>
                <div>
                    <img class="img-fluid" src="static/img/logos/logo-6.png" alt="">
                </div>
                <div>
                    <img class="img-fluid" src="static/img/logos/logo-4.png" alt="">
                </div>
                <div>
                    <img class="img-fluid" src="static/img/logos/logo-2.png" alt="">
                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}
