{% extends "layout.html" %}
{% load static %}
{% block content %}
    <div role="main" class="main" id="main">
        <section class="section bg-color-light m-0 p-0 pt-3 border-0">
            <div class="container container-custom container-custom-initial">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <ul class="breadcrumb d-block d-flex justify-content-start align-items-center">
                            <li><a href="/">Home</a></li>
                            <li class="active">News & Events</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section>
        <div class="container">
            <br>
            <div class="row">
                <div class="col-md-8">
                    <div class="blog-posts single-post">
                        <article class="post post-large blog-single-post border-0 m-0 p-0">
                            <div class="post-content ml-0">
                                {% if single_news_events.file_path %}
                                <div class=" ml-0">
                                    <a href="#">
                                        <img src="media/news/{{single_news_events.file_path}}" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="Photo"/>
                                    </a>
                                </div>
                                {% endif %}
                                <h2 class="font-weight-bold"><a href="#">{{single_news_events.title}}</a></h2>

                                <div class="post-meta">
                                    <span><i class="far fa-calendar"></i> Publish Date - <a href="#">{{single_news_events.uploaded_date|date:'d-m-Y'}}</a> </span>
                                </div>
                                <p style="text-align: justify;">{{single_news_events.description}}</p>
                            </div>
                        </article>

                    </div>
                </div>
                <div class="col-md-4">
                    <aside class="sidebar">
                        <h5 class="font-weight-bold"><strong>News & Events</strong></h5>
                        <ul class="nav nav-list flex-column sort-source mb-5">
                            {% for data in news_events %}
                            <li class="nav-item"><a class="nav-link active text-color-primary" href="{% url 'news-events' %}?id={{data.id}}">{{data.title}}</a></li>
                            {% endfor %}
                        </ul>
                    </aside>
                </div>
            </div>

        </div>
        </section>

    </div>
{% endblock content %}
    