{% extends "layout.html" %}
{% block content %}
<div role="main" class="main" id="main">
    <section class="section bg-color-light m-0 p-0 pt-3 border-0">
        <div class="container container-custom container-custom-initial">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <ul class="breadcrumb d-block d-flex justify-content-start align-items-center">
                        <li><a href="/">Home</a></li>
                        <li class="active">Screen Reader</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="section bg-color-light m-0 p-0 p-5 border-0">
        <div class="container container-custom">
            <div class="row">
                <div class="col-lg-12">
                    <div class="tab-content" id="description">
                        <div class="tab-pane fade show active" id="about_desc" role="tabpanel">
                            <h5>Screen Reader Access</h5>
                            <hr>
                            <p>
                            <table border="0" cellpadding="0" cellspacing="0" class="table table-bordered table-striped" summary="Various Screen Readers to choose from">
                                <tbody>
                                    <tr>
                                        <th>Screen Reader</th>
                                        <th>Website</th>
                                        <th>Free / Commercial</th>
                                    </tr>
                                    <tr>
                                        <td>Screen Access For All (SAFA)</td>
                                        <td><a href="http://safa-reader.software.informer.com/download/" target="_blank">http://safa-reader.software.informer.com/download/</a><img alt="External website that opens in a new window" src="https://fed.gujarat.gov.in/writereaddata/images/ext-link-icon.gif"></td>
                                        <td>Free</td>
                                    </tr>
                                    <tr>
                                        <td>Non Visual Desktop Access (NVDA)</td>
                                        <td><a href="http://www.nvda-project.org/" target="_blank">http://www.nvda-project.org/</a><img alt="External website that opens in a new window" src="https://fed.gujarat.gov.in/writereaddata/images/ext-link-icon.gif"></td>
                                        <td>Free</td>
                                    </tr>
                                    <tr>
                                        <td>System Access To Go</td>
                                        <td><a href="http://www.satogo.com/" target="_blank">http://www.satogo.com/</a><img alt="External website that opens in a new window" src="https://fed.gujarat.gov.in/writereaddata/images/ext-link-icon.gif"></td>
                                        <td>Free</td>
                                    </tr>
                                    <tr>
                                        <td>Thunder</td>
                                        <td><a href="http://www.screenreader.net/index.php?pageid=11" target="_blank">http://www.screenreader.net/index.php?pageid=11</a><img alt="External website that opens in a new window" src="https://fed.gujarat.gov.in/writereaddata/images/ext-link-icon.gif"></td>
                                        <td>Free</td>
                                    </tr>
                                    <tr>
                                        <td>Web any where</td>
                                        <td><a href="http://webanywhere.cs.washington.edu/wa.php" target="_blank">http://webanywhere.cs.washington.edu/wa.php</a><img alt="External website that opens in a new window" src="https://fed.gujarat.gov.in/writereaddata/images/ext-link-icon.gif"></td>
                                        <td>Free</td>
                                    </tr>
                                    <tr>
                                        <td>Hal</td>
                                        <td><a href="http://www.yourdolphin.co.uk/productdetail.asp?id=5" target="_blank">http://www.yourdolphin.co.uk/productdetail.asp?id=5</a><img alt="External website that opens in a new window" src="https://fed.gujarat.gov.in/writereaddata/images/ext-link-icon.gif"></td>
                                        <td>Commercial</td>
                                    </tr>
                                    <tr>
                                        <td>JAWS</td>
                                        <td><a href="http://www.freedomscientific.com/Products/Blindness/JAWS" target="_blank">http://www.freedomscientific.com/Products/Blindness/JAWS</a><img alt="External website that opens in a new window" src="https://fed.gujarat.gov.in/writereaddata/images/ext-link-icon.gif"></td>
                                        <td>Commercial</td>
                                    </tr>
                                    <tr>
                                        <td>Supernova</td>
                                        <td><a href="http://www.yourdolphin.co.uk/productdetail.asp?id=1" target="_blank">http://www.yourdolphin.co.uk/productdetail.asp?id=1</a><img alt="External website that opens in a new window" src="https://fed.gujarat.gov.in/writereaddata/images/ext-link-icon.gif"></td>
                                        <td>Commercial</td>
                                    </tr>
                                    <tr>
                                        <td>Window-Eyes</td>
                                        <td><a href="http://www.gwmicro.com/Window-Eyes/" target="_blank">http://www.gwmicro.com/Window-Eyes/</a><img alt="External website that opens in a new window" src="https://fed.gujarat.gov.in/writereaddata/images/ext-link-icon.gif"></td>
                                        <td>Commercial</td>
                                    </tr>
                                </tbody>
                            </table>
                                                    
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}
    