{% extends "layout.html" %}
{% block content %}
<div role="main" class="main" id="main">
    <section class="section bg-color-light m-0 p-0 pt-3 border-0">
        <div class="container container-custom container-custom-initial">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <ul class="breadcrumb d-block d-flex justify-content-start align-items-center">
                        <li><a href="/">Home</a></li>
                        <li class="active">Who's Who</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="section bg-color-light m-0 p-0 p-4 pb-5 border-0">
       <div class="container container-custom">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h5 class="text-primary">DIRECTORATE OF TREASURIES & ACCOUNTS (HEAD OFFICE)</h5>
                </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Sl No</th>
                                <th>Name</th>
                                <th>Designation</th>
                                <th>Contact No</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in contact_list %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{data.name}}</td>
                                <td>{{data.designation.name}}</td>
                                <td>{{data.contact_no}}</td>
                                <td>{{data.email}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                
            </div>
       </div>
    </section>
</div>
{% endblock content %}
    