{% load static %}
<!-- Vendor CSS -->
<link rel="stylesheet" href="{% static 'admin/vendor/bootstrap/css/bootstrap.css' %}" />
<link rel="stylesheet" href="{% static 'admin/vendor/animate/animate.compat.css' %}">
<link rel="stylesheet" href="{% static 'admin/vendor/font-awesome/css/all.min.css' %}" />
<link rel="stylesheet" href="{% static 'admin/vendor/boxicons/css/boxicons.min.css' %}" />
<link rel="stylesheet" href="{% static 'admin/vendor/magnific-popup/magnific-popup.css' %}" />
<link rel="stylesheet" href="{% static 'admin/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css' %}" />
<link rel="stylesheet" href="{% static 'admin/vendor/jquery-ui/jquery-ui.css' %}" />
<link rel="stylesheet" href="{% static 'admin/vendor/jquery-ui/jquery-ui.theme.css' %}" />
<link rel="stylesheet" href="{% static 'admin/vendor/bootstrap-multiselect/css/bootstrap-multiselect.css' %}" />
<link rel="stylesheet" href="{% static 'admin/vendor/morris/morris.css' %}" />
<link rel="stylesheet" href="{% static 'admin/vendor/pnotify/pnotify.custom.css' %}" />

<link rel="stylesheet" href="{% static 'admin/vendor/select2/css/select2.css' %}" />
<link rel="stylesheet" href="{% static 'admin/vendor/select2-bootstrap-theme/select2-bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'admin/vendor/datatables/media/css/dataTables.bootstrap5.css' %}" />

<!-- Theme CSS -->
<link rel="stylesheet" href="{% static 'admin/css/theme.css' %}" />

<!-- Skin CSS -->
<link rel="stylesheet" href="{% static 'admin/css/skins/default.css' %}" />

<!-- Theme Custom CSS -->
<link rel="stylesheet" href="{% static 'admin/css/custom.css' %}">

<!-- Head Libs -->
<script src="{% static 'admin/vendor/modernizr/modernizr.js' %}"></script>