{% load static %}
<style>
    .btn_custom {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
</style>
<header class="header">
    <div class="logo-container">
        <a href="{% url 'dashboard' %}" class="logo">
            <img alt="Porto" src="{% static '/img/nagaland_logo.png' %}" height="40">
        </a>

        <div class="d-md-none toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
            <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
        </div>

    </div>

    <!-- start: search & user box -->
    <div class="header-right">

        <!-- <form action="pages-search-results.html" class="search nav-form">
            <div class="input-group">
                <input type="text" class="form-control" name="q" id="q" placeholder="Search...">
                <button class="btn btn-default" type="submit"><i class="bx bx-search"></i></button>
            </div>
        </form> -->

        <span class="separator"></span>

        <ul class="notifications">
            
            <li>
                <a href="#" class="dropdown-toggle notification-icon" data-bs-toggle="dropdown">
                    <i class="bx bx-bell"></i>
                    <span class="badge">{{count}}</span>
                </a>
                <div class="dropdown-menu notification-menu">
                    <div class="notification-title">
                        <span class="float-end badge badge-warning">{{count}}</span>
                        Pending Grievances
                    </div>

                    <div class="content">
                        <ul>
                            {% for data in notification %}
                            <li>
                                <form action="{% url 'admin-grievance' %}" method="post" autocomplete="off">
                                    {% csrf_token %}
                                    <input type="hidden" name="applicant_id" value="{{ data.id }}">
                                    <button type="submit" class="btn_custom" name="applicant_detail"><span class="title">{{data.applicant_name}}</span></button>
                                    <span class="message">Filing Date: {{data.date_filing|date:'d-m-Y'}}</span>
                                </form>

                                <!-- <a href="{% url 'admin-grievance' %}" class="clearfix">
                                    <div class="image">
                                        <i class="fas fa-question bg-warning text-light"></i>
                                    </div>
                                    <span class="title">{{data.applicant_name}}</span>
                                    <span class="message">Filing Date: {{data.date_filing|date:'d-m-Y'}}</span>
                                </a> -->
                            </li>
                            {% endfor %}
                        </ul>
                        <hr />
                        <div class="text-end">
                            <a href="{% url 'admin-grievance' %}" class="view-more">View All</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <span class="separator"></span>

        <div id="userbox" class="userbox">
            <a href="#" data-bs-toggle="dropdown">
                <figure class="profile-picture">
                    <img src="static/admin/img/!logged-user.jpg" alt="Joseph Doe" class="rounded-circle" data-lock-picture="img/!logged-user.jpg" />
                </figure>
                <div class="profile-info" data-lock-name="{{request.username}}">
                    <span class="name">{{user.username}}</span>
                    <span class="role">{{user.user_type}} USER</span>
                </div>

                <i class="fa custom-caret"></i>
            </a>

            <div class="dropdown-menu">
                <ul class="list-unstyled mb-2">
                    <li class="divider"></li>
                    <li>
                        <a role="menuitem" tabindex="-1" href="{% url 'user-profile' %}"><i class="bx bx-user-circle"></i> My Profile</a>
                    </li>
                    <li>
                        <a role="menuitem" tabindex="-1" href="{% url 'logout' %}"><i class="bx bx-power-off"></i> Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end: search & user box -->
</header>