<footer id="footer" class="border-0 mt-0">
    
    <hr class="bg-light opacity-2 my-0">
    <div class="container pb-5">
        <div class="row text-center text-md-start py-4 my-5">
            <div class="col-md-4 col-lg-4 mb-lg-0">
                <h5 class="text-transform-none font-weight-bold text-color-light text-4-5 mb-4">Contact Us</h5>
                <ul class="list list-unstyled">
                    <li class="pb-1 mb-2">
                        <span class="d-block font-weight-semibold line-height-1 text-color-grey text-3-5">ADDRESS:</span>
                        <span>Below Civil Secretariat, Thizama Road Kohima-797001, Nagaland</span>
                    </li>
                    <li class="pb-1 mb-2">
                        <span class="d-block font-weight-semibold line-height-1 text-color-grey text-3-5 mb-1">PHONE: +91(370)2999283</span>
                    </li>
                    <li class="pb-1 mb-2">
                        <span class="d-block font-weight-semibold line-height-1 text-color-grey text-3-5">EMAIL: itdtangl[at]gmail[dot]com</span>
                    </li>
                </ul>
                
            </div>
            <div class="col-md-4 col-lg-4 mb-md-0">
                <h5 class="text-transform-none font-weight-bold text-color-light text-4-5 mb-4">Navigation</h5>
                <ul class="list list-unstyled mb-0">
                    <li class="mb-0"><a href="{% url 'home' %}">Home</a></li>
                    <li class="mb-0"><a href="{% url 'about' %}">About Us</a></li>
                    <li class="mb-0"><a href="{% url 'who' %}">Who's Who</a></li>
                    <li class="mb-0"><a href="{% url 'news-events' %}">News & Events</a></li>
                    <li class="mb-0"><a href="{% url 'photo-gallery' %}">Photo Gallery</a></li>
                    <li class="mb-0"><a href="{% url 'video-gallery' %}">Video Gallery</a></li>
                    <li class="mb-0"><a href="{% url 'download' %}?type=APAR">Dowbload</a></li>
                    <li class="mb-0"><a href="{% url 'contact' %}">Contact Us</a></li>
                    <li class="mb-0"><a href="{% url 'grievance' %}">Grievance</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-lg-4 ">
                <h5 class="text-transform-none font-weight-bold text-color-light text-4-5 mb-4">Opening Hours</h5>
                <ul class="list list-unstyled list-inline custom-list-style-1 mb-0">
                    <li>Mon - Fri: 10:00 am to 4:00 pm</li>
                    <li>Saturday (2nd and 4th Saturday holiday): 10:00 am to 4:00 pm</li>
                    <li>Sunday: Closed</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright bg-light py-4">
        <div class="container py-2">
            <div class="row">
                <div class="col">
                    <p class="text-center text-3 mb-0">Copyrights © 2024. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>