<footer id="footer" class="border-0 mt-0">
    
    <hr class="bg-light opacity-2 my-0">
    <div class="container pb-5">
        <div class="row text-center text-md-start py-4 my-5">
            <div class="col-md-6 col-lg-3 align-self-center text-center text-md-start text-lg-center mb-5 mb-lg-0">
                <a href="demo-auto-services.html" class="text-decoration-none">
                    <img src="img/demos/auto-services/logo-light.png" class="img-fluid" alt=""/>
                </a>
            </div>
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                <h5 class="text-transform-none font-weight-bold text-color-light text-4-5 mb-4">About Us</h5>
                <ul class="list list-unstyled">
                    <li class="pb-1 mb-2">
                        <span class="d-block font-weight-semibold line-height-1 text-color-grey text-3-5">ADDRESS</span>
                        <a href="demo-auto-services-contact.html#get-direction" class="text-color-light custom-text-underline-1 font-weight-medium text-3-5">GET DIRECTIONS</a>
                    </li>
                    <li class="pb-1 mb-2">
                        <span class="d-block font-weight-semibold line-height-1 text-color-grey text-3-5 mb-1">PHONE</span>
                        <ul class="list list-unstyled font-weight-light text-3-5 mb-0">
                            <li class="text-color-light line-height-3 mb-0">
                                Sales: <a href="tel:+1234567890" class="text-decoration-none text-color-light text-color-hover-default">+123 4567 890</a>
                            </li>
                            <li class="text-color-light line-height-3 mb-0">
                                Services: <a href="tel:+1234567890" class="text-decoration-none text-color-light text-color-hover-default">+123 4567 890</a>
                            </li>
                        </ul>
                    </li>
                    <li class="pb-1 mb-2">
                        <span class="d-block font-weight-semibold line-height-1 text-color-grey text-3-5">EMAIL</span>
                        <a href="mailto:mail@example.com" class="text-decoration-none font-weight-light text-3-5 text-color-light text-color-hover-default">mail@example.com</a>
                    </li>
                </ul>
                <ul class="social-icons social-icons-medium">
                    <li class="social-icons-instagram">
                        <a href="http://www.instagram.com/" class="no-footer-css" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="social-icons-twitter mx-2">
                        <a href="http://www.twitter.com/" class="no-footer-css" target="_blank" title="Twitter"><i class="fab fa-x-twitter"></i></a>
                    </li>
                    <li class="social-icons-facebook">
                        <a href="http://www.facebook.com/" class="no-footer-css" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-2 mb-5 mb-md-0">
                <h5 class="text-transform-none font-weight-bold text-color-light text-4-5 mb-4">Auto Services</h5>
                <ul class="list list-unstyled mb-0">
                    <li class="mb-0"><a href="demo-auto-services-services-detail.html">Brake Repair</a></li>
                    <li class="mb-0"><a href="demo-auto-services-services-detail.html">Check Engine</a></li>
                    <li class="mb-0"><a href="demo-auto-services-services-detail.html">Suspension Repair</a></li>
                    <li class="mb-0"><a href="demo-auto-services-services-detail.html">Transmission Repair</a></li>
                    <li class="mb-0"><a href="demo-auto-services-services-detail.html">A/C Repair</a></li>
                    <li class="mb-0"><a href="demo-auto-services-services-detail.html">Oil Change</a></li>
                    <li class="mb-0"><a href="demo-auto-services-services-detail.html">Electrical Diagnostics</a></li>
                    <li class="mb-0"><a href="demo-auto-services-services-detail.html">Tune Up</a></li>
                    <li class="mb-0"><a href="demo-auto-services-services-detail.html">Fuel System Repair</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-3 offset-lg-1">
                <h5 class="text-transform-none font-weight-bold text-color-light text-4-5 mb-4">Opening Hours</h5>
                <ul class="list list-unstyled list-inline custom-list-style-1 mb-0">
                    <li>Mon - Fri: 8:30 am to 5:00 pm</li>
                    <li>Saturday: 9:30 am to 1:00 pm</li>
                    <li>Sunday: Closed</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright bg-light py-4">
        <div class="container py-2">
            <div class="row">
                <div class="col">
                    <p class="text-center text-3 mb-0">Copyrights © 2024. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>