<!-- Basic -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{page_title}}</title>

<meta name="keywords" content="DTA, Nagaland"/>
<meta name="description" content="DTA - Directorate of Treasuries & Accounts">
<meta name="author" content="DTA">

<!-- Favicon -->
<link rel="shortcut icon" href="static/img/NagalandLogo.png" type="image/x-icon"/>
<link rel="apple-touch-icon" href="static/img/NagalandLogo.png">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">