{% load static %}
<!-- Vendor -->
<script src="{% static 'vendor/plugins/js/plugins.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap-star-rating/js/star-rating.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap-star-rating/themes/krajee-fas/theme.min.js' %}"></script>

<!-- Theme Base, Components and Settings -->
<script src="{% static 'js/theme.js' %}"></script>

<!-- Current Page Vendor and Views -->
<script src="{% static 'js/views/view.contact.js' %}"></script>
<script src="{% static 'js/views/view.shop.js' %}"></script>

<!-- Demo -->
<script src="{% static 'js/demos/demo-auto-services.js' %}"></script>

<!-- Circle Flip Slideshow Script -->
<script src="{% static 'vendor/circle-flip-slideshow/js/jquery.flipshow.min.js' %}"></script>

<script src="{% static 'js/views/view.home.js' %}"></script>

<!-- Theme Custom -->
<script src="{% static 'js/custom.js' %}"></script>

<!-- Theme Initialization Files -->
<script src="{% static 'js/theme.init.js' %}"></script>