<header id="header" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyStartAt': 54, 'stickySetTop': '-54px', 'stickyChangeLogo': false}">
    <div class="header-body header-body-bottom-border-fixed box-shadow-none border-top-0">
        <div class="bg-color-light">
            <div class="container container-custom">
                <div class="header-row align-items-center p-0 pt-1">
                    <div class="header-column justify-content-start">
                        <div class="header-row">
                            <ul class="nav nav-pills text-dark">
                                <li class="nav-item nav-item-left-border d-none d-md-block">
                                    <a class="nav-link ps-0 text-dark opacity-8 font-size-custom" href="#">Contact: +91(370)2999283</a>
                                </li>
                            </ul>
                            
                        </div>
                    </div>

                    <div class="header-column justify-content-end" id="ease-access">
                        <div class="header-row">
                            <nav class="header-nav-top">
                                <ul class="nav nav-pills text-dark">
                                    <li class="nav-item nav-item-left-border d-none d-md-block">
                                        <a class="nav-link ps-0 text-dark opacity-8 font-size-custom" href="#main">Skip to Main Content</a>
                                    </li>
                                    <li class="nav-item nav-item-left-border d-none d-md-block ps-3">
                                        <a class="nav-link ps-0 text-dark opacity-8 font-size-custom" href="{% url 'screen-reader' %}">Screen Reader</a>
                                    </li>
                                    <li class="nav-item nav-item-left-border nav-item-left-border-remove nav-item-left-border-sm-show">
                                        <a class="nav-link text-dark opacity-8 pe-0 font-size-custom" href="{% url 'site-map' %}">Sitemap</a>
                                    </li>
                                    <li class="nav-item dropdown nav-item-left-border d-none d-sm-block nav-item-left-border-remove nav-item-left-border-md-show">
                                        <a class="font-size-custom" href="JavaScript:void(0);" id="google_translate_element"></a>
                                    </li>

                                    <li class="nav-item nav-item-left-border nav-item-left-border-remove nav-item-left-border-sm-show font-size-custom">
                                        <button class="btn btn-xs btn-primary" onclick="changeFontDecrease()" title="Decrease font by 2%">A-</button>
                                        <button class="btn btn-xs btn-primary" onclick="changeFontNormal()" title="Set to normal font">A</button>
                                        <button class="btn btn-xs btn-primary" onclick="changeFontIncrease()" title="Increase font by 2%">A+</button>
                                    </li>
                                    <li class="nav-item nav-item-left-border nav-item-left-border-remove nav-item-left-border-sm-show font-size-custom">
                                        <button class="btn btn-xs btn-warning" onclick="ChangeReset(this)" title="Reset to Normal">T</button>
                                        <button class="btn btn-xs btn-dark" onclick="ChangeContrast(this)"  title="Dark Contrast">T</button>
                                    </li>
                                    <li class="nav-item nav-item-left-border nav-item-left-border-remove nav-item-left-border-sm-show font-size-custom">
                                        <a href="{% url 'login' %}" class="btn btn-xs btn-danger"><i class="fa fa-sign-in text-color-light"></i></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="header-container container">
            <div class="header-row">
                <div class="header-column w-100">
                    <div class="header-row justify-content-between">
                        <div class="header-logo z-index-2 col-lg-2 px-0">
                            <a href="/">
                                <img alt="DTA" width="250"  src="/static/img/ng-logo.png">
                            </a>
                        </div>
                        <div class="header-nav header-nav-links justify-content-end pe-lg-4 me-lg-3">
                            <div class="header-nav-main header-nav-main-arrows header-nav-main-dropdown-no-borders header-nav-main-effect-3 header-nav-main-sub-effect-1">
                                <nav class="collapse">
                                    <ul class="nav nav-pills" id="mainNav">
                                        <li><a href="{% url 'home' %}" class="nav-link {{home}}">Home</a></li>
                                        <li><a href="{% url 'about' %}" class="nav-link {{about}}">About</a></li>
                                        <li><a href="{% url 'who' %}" class="nav-link {{who_who}}">Who's Who</a></li>
                                        <li><a href="{% url 'news-events' %}" class="nav-link {{news_events}}">News & Events</a></li>
                                        <li class="dropdown">
                                            <a href="#" class="nav-link dropdown-toggle {{gallery}}">Gallery</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{% url 'photo-gallery' %}" class="dropdown-item">Photo Gallery</a></li>
                                                <li><a href="{% url 'video-gallery' %}" class="dropdown-item">Video Gallery</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="nav-link dropdown-toggle {{download}}">Downlaods</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{% url 'apar' %}" class="dropdown-item">APAR</a></li>
                                                <li><a href="{% url 'rti' %}" class="dropdown-item">RTI</a></li>
                                                <li><a href="{% url 'gpf' %}" class="dropdown-item">GPF</a></li>
                                                <li><a href="{% url 'pension' %}" class="dropdown-item">Pension</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{% url 'contact' %}" class="nav-link {{contact}}">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <ul class="header-extra-info custom-left-border-1 d-none d-xl-block">
                            <li class="d-none d-sm-inline-flex ms-0">
                                <div class="header-extra-info-icon">
                                    <i class="icons icon-phone text-3 text-color-dark position-relative top-3"></i>
                                </div>
                                <div class="header-extra-info-text line-height-2">
                                    <span class="text-1 font-weight-semibold text-color-default">CALL US NOW</span>
                                    <strong class="text-4"><a href="tel:+1234567890" class="text-color-hover-primary text-decoration-none">+123 4567 890</a></strong>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<script type="text/javascript">
    function googleTranslateElementInit() { new google.translate.TranslateElement({ pageLanguage: 'en', includedLanguages: 'bn,gu,hi,kn,ml,mr,pa,ta,te,ur,en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false, gaTrack: true, gaId: 'UA-77793572-1' }, 'google_translate_element'); }
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


<script>
    $(document).ready(function () {
    var size = parseInt($('*').css("font-size"));
    var sizes = parseInt(sessionStorage.getItem("TextSize"));
    if (sizes != null) {
        size = sizes;
    }
    $('*').css("font-size", size);

    //  color contrast
    var bgColor = sessionStorage.getItem("BgColor");
    var fontColor =sessionStorage.getItem("FontColor");

    if (bgColor != null) {
        var all = document.getElementsByTagName("*");
        for (var i=0, max=all.length; i < max; i++) {
         all[i].style.setProperty("color", "#ff0", "important");
        //  all[i].style.color = "#ff0";
         all[i].style.background = "#000";
        }
    }
    
});

function changeFontIncrease() {
    
    var size = parseInt($('*').css("font-size"));
        size = size + 2;
        if (size >= 20) {
            size = 20;
        }
        sessionStorage.setItem("TextSize", size);
    $('*').css("font-size", size);
}
function changeFontNormal() {

    sessionStorage.removeItem("TextSize");
        location.reload();

    // var size = parseInt($('*').css("font-size"));
    //     size = 14;
    //     sessionStorage.setItem("TextSize", size);
    // $('*').css("font-size", size);
}
function changeFontDecrease() {
    var size = parseInt($('*').css("font-size"));
        size = size - 2;
        if (size <= 8) {
            size = 8;
        }
        sessionStorage.setItem("TextSize", size);
    
    $('*').css("font-size", size);
}


//color contast
function ChangeContrast(x) {
    $(function () {

        var all = document.getElementsByTagName("*");
        for (var i=0, max=all.length; i < max; i++) {
         all[i].style.setProperty("color", "#ff0", "important");
         all[i].style.background = "#000";
        }
        sessionStorage.setItem("BgColor", "#000");
        sessionStorage.setItem("FontColor", "#ff0");
    });
}
//color contrast
function ChangeReset(x) {
    $(function () {
       
        sessionStorage.removeItem("BgColor");
        sessionStorage.removeItem("FontColor");
        location.reload();
    });
}
</script>