{% load static %}
<header id="header" class="header-effect-shrink" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': true, 'stickyStartAt': 30, 'stickyHeaderContainerHeight': 70}">
    <div class="header-body header-body-bottom-border-fixed box-shadow-none border-top-0">
        <div class="header-top header-top-default border-bottom-0 border-top-0">
            <div class="container">
                <div class="header-row align-items-center p-0 pt-1">
                    <div class="header-column justify-content-start">
                        <div class="header-row">
                            <ul class="nav nav-pills text-dark">
                                <li class="nav-item nav-item-left-border d-none d-md-block">
                                    <a class="nav-link ps-0 text-dark opacity-8 font-size-custom" href="#"><i class="far fa-envelope text-4 text-color-primary"></i> itdtangl[at]gmail[dot]com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="header-column justify-content-end" id="ease-access">
                        <div class="header-row">
                            <nav class="header-nav-top">
                                <ul class="nav nav-pills text-dark">
                                    <li class="nav-item nav-item-left-border d-none d-md-block">
                                        <a class="nav-link ps-0 text-dark opacity-8 font-size-custom" href="#main">Skip to Main Content</a>
                                    </li>
                                    <li class="nav-item nav-item-left-border d-none d-md-block ps-3">
                                        <a class="nav-link ps-0 text-dark opacity-8 font-size-custom" href="{% url 'screen-reader' %}">Screen Reader</a>
                                    </li>
                                    <li class="nav-item nav-item-left-border nav-item-left-border-remove nav-item-left-border-sm-show">
                                        <a class="nav-link text-dark opacity-8 pe-0 font-size-custom" href="{% url 'site-map' %}">Sitemap</a>
                                    </li>
                                    <li class="nav-item nav-item-left-border nav-item-left-border-remove nav-item-left-border-sm-show">
                                        <a class="font-size-custom" href="JavaScript:void(0);" id="google_translate_element"></a>
                                    </li>
                                    <li class="nav-item nav-item-left-border nav-item-left-border-remove nav-item-left-border-sm-show">
                                        <span onclick="changeFontDecrease()" style="cursor: pointer;" title="Decrease font by 2%">A-</span>
                                    </li>
                                    <li class="nav-item nav-item-left-border nav-item-left-border-remove nav-item-left-border-sm-show">
                                        <span onclick="changeFontNormal()"  style="cursor: pointer;" title="Set to normal font">A</span>
                                    </li>
                                    <li class="nav-item nav-item-left-border nav-item-left-border-remove nav-item-left-border-sm-show">
                                        <span onclick="changeFontIncrease()"  style="cursor: pointer;" title="Increase font by 2%">A+</span>
                                    </li>
                                    <li class="nav-item nav-item-left-border nav-item-left-border-remove nav-item-left-border-sm-show">
                                        <span onclick="ChangeReset(this)"  style="cursor: pointer;" title="Reset to Normal">Normal</i></span>
                                    </li>
                                    <li class="nav-item nav-item-left-border nav-item-left-border-remove nav-item-left-border-sm-show">
                                        <span onclick="ChangeContrast(this)"  style="cursor: pointer;" title="Dark Contrast">Dark</i></span>
                                    </li>
                                    <li class="nav-item nav-item-left-border nav-item-left-border-remove nav-item-left-border-sm-show">
                                        <a href="{% url 'login' %}" ><i class="fa fa-sign-in text-color-primary">&nbsp; Login</i></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-container container-fluid px-lg-4">
            <div class="header-row">
                <div class="header-column w-100">
                    <div class="header-row justify-content-between">
                        <div class="header-column" style="position: static !important; top: auto !important;">
                            <div class="header-row">
                                <div class="header-logo">
                                    <a href="{% url 'home' %}">
                                        <img alt="DTA-logo" width="70" src="{% static 'img/nagaland_logo.png' %}">
                                    </a>
                                </div>
                                <div style="margin-left: 20px; min-width: 250px;">
                                    <p class="text-3 font-weight-extra-bold m-0">DIRECTORATE OF TREASURIES <br>& ACCOUNTS, NAGALAND</p>
                                </div>
                            </div>
                        </div>

                        <div class="header-nav header-nav-links justify-content-end pe-lg-4 me-lg-3">
                            <div class="header-nav-main header-nav-main-arrows header-nav-main-dropdown-no-borders header-nav-main-effect-3 header-nav-main-sub-effect-1">
                                <nav class="collapse">
                                    <ul class="nav nav-pills" id="mainNav">
                                        <li><a href="{% url 'home' %}" class="nav-link {{home}}">Home</a></li>
                                        <li><a href="{% url 'about' %}" class="nav-link {{about}}">About Us</a></li>
                                        <li><a href="{% url 'who' %}" class="nav-link {{who}}">Who's Who</a></li>
                                        <li><a href="{% url 'notification' %}" class="nav-link {{notification}}">Notification</a></li>
                                        <!-- <li><a href="{% url 'advertisement' %}" class="nav-link {{advertisement}}">Advertisement</a></li> -->
                                        <li><a href="{% url 'news-events' %}" class="nav-link {{news_event}}">News & Events</a></li>
                                        <li><a href="{% url 'download' %}?type=RTI" class="nav-link {{rti}}">RTI</a></li>
                                        <!-- <li class="dropdown">
                                            <a href="#" class="nav-link dropdown-toggle {{gallery}}">Gallery</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{% url 'photo-gallery' %}" class="dropdown-item">Photo Gallery</a></li>
                                                <li><a href="{% url 'video-gallery' %}" class="dropdown-item">Video Gallery</a></li>
                                            </ul>
                                        </li> -->
                                        <li><a href="{% url 'photo-gallery' %}" class="nav-link {{gallery}}">Gallery</a></li>
                                        <li class="dropdown">
                                            <a href="#" class="nav-link dropdown-toggle {{download}}">Downlaods</a>
                                            <ul class="dropdown-menu">
                                                {% for data in download_category_list %}
                                                <li><a href="{% url 'download' %}?type={{ data.name }}" class="dropdown-item">{{ data.name }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        <!-- <li><a href="{% url 'grievance' %}" class="nav-link {{grievance}}">Grievance</a></li> -->
                                        <li><a href="{% url 'contact' %}" class="nav-link {{contact}}">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<script type="text/javascript">
    function googleTranslateElementInit() { new google.translate.TranslateElement({ pageLanguage: 'en', includedLanguages: 'bn,gu,hi,kn,ml,mr,pa,ta,te,ur,en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false, gaTrack: true, gaId: 'UA-77793572-1' }, 'google_translate_element'); }
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
