{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Directorate of Treasuries & Accounts | Forgot Password</title>
  <!-- Tell the browser to be responsive to screen width -->
  <link rel="shortcut icon" type="image/png" href="{% static 'website/images/mdm_favicon.png' %}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Vendor CSS -->
	<link rel="stylesheet" href="{% static 'admin/vendor/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" href="{% static 'admin/vendor/animate/animate.compat.css' %}">
	<link rel="stylesheet" href="{% static 'admin/vendor/font-awesome/css/all.min.css' %}" />
	<link rel="stylesheet" href="{% static 'admin/vendor/boxicons/css/boxicons.min.css' %}" />
	<link rel="stylesheet" href="{% static 'admin/vendor/magnific-popup/magnific-popup.css' %}" />
	<link rel="stylesheet" href="{% static 'admin/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css' %}" />

	<!-- Theme CSS -->
	<link rel="stylesheet" href="{% static 'admin/css/theme.css' %}" />

	<!-- Skin CSS -->
	<link rel="stylesheet" href="{% static 'admin/css/skins/default.css' %}" />

	<!-- Theme Custom CSS -->
	<link rel="stylesheet" href="{% static 'admin/css/custom.css' %}">

	<!-- Head Libs -->
	<script src="{% static 'admin/vendor/modernizr/modernizr.js' %}"></script>

</head>
<body class="hold-transition login-page">
  <section class="body-sign">
    <div class="center-sign">
      <div style="margin-left: 5px;">
        <a href="/" class="logo float-start">
          <div class="d-flex align-items-center gap-3">
            <img src="static/img/nagaland_logo.png" alt="DTA Admin" width="60" />
            <div style="display: flex; flex-direction: column; gap: 0px;">
              <p class="text-5 text-color-dark" style="margin: 0px;">Directorate of Treasuries  </p>
              <p class="text-5 text-color-dark"  style="margin: 0px;">& Accounts, Nagaland</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="panel card-sign">
        <div class="card-title-sign mt-3 text-end">
          <h2 class="title text-uppercase font-weight-bold m-0"><i class="bx bxs-lock me-1 text-6 position-relative top-5"></i> Forgot Password</h2>
        </div>
        <div class="card-body">
          {% for message in messages %}
          {% if message.tags == "success" %}
            <span style="color: green;">{{ message }}</span>
          {% else %}
            <span style="color: green;">{{ message }}</span>
          {% endif %}
          {% endfor %}
      <form action="" method="post" autocomplete="off">
          {% csrf_token %}
            <div class="form-group mb-3">
              <label>Username</label>
              <div class="input-group">
                <input type="text" class="form-control" id="id_email_or_username" maxlength="254" placeholder="Enter Username or Email" name="email_or_username" required>
                <span class="input-group-text">
                  <i class="bx bx-user text-4"></i>
                </span>
              </div>
            </div>
  
            <div class="row">
              <div class="col-sm-8">
                <span class="pt-2"><a href="{% url 'login' %}">Return to login</a></span>
              </div>
              
              <div class="col-sm-4 text-end">
                <button type="submit" Value="Submit" class="btn btn-success btn-block">Send</button>
              </div>
            </div>
              <!-- /.col -->
          </form>
        </div>
      </div>
      <p class="text-center text-muted mt-3 mb-3">&copy; Copyright 2023. All Rights Reserved.</p>
    </div>
  </section>

<!-- Vendor -->
<script src="{% static 'admin/vendor/jquery/jquery.js' %}"></script>
<script src="{% static 'admin/vendor/jquery-browser-mobile/jquery.browser.mobile.js' %}"></script>
<script src="{% static 'admin/vendor/popper/umd/popper.min.js' %}"></script>
<script src="{% static 'admin/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'admin/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'admin/vendor/common/common.js' %}"></script>
<script src="{% static 'admin/vendor/nanoscroller/nanoscroller.js' %}"></script>
<script src="{% static 'admin/vendor/magnific-popup/jquery.magnific-popup.js' %}"></script>
<script src="{% static 'admin/vendor/jquery-placeholder/jquery.placeholder.js' %}"></script>

<!-- Specific Page Vendor -->

<!-- Theme Base, Components and Settings -->
<script src="{% static 'admin/js/theme.js' %}"></script>

<!-- Theme Custom -->
<script src="{% static 'admin/js/custom.js' %}"></script>

<!-- Theme Initialization Files -->
<script src="{% static 'admin/js/theme.init.js' %}"></script>
</body>
</html>