{% load static %}
<!doctype html>
<html class="fixed">
<head>

	<!-- Basic -->
	<meta charset="UTF-8">

	<meta name="keywords" content="HTML5 Admin Template" />
	<meta name="description" content="Porto Admin - Responsive HTML5 Template">
	<meta name="author" content="okler.net">

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<!-- Web Fonts  -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

	<!-- Vendor CSS -->
	<link rel="stylesheet" href="{% static 'admin/vendor/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" href="{% static 'admin/vendor/animate/animate.compat.css' %}">
	<link rel="stylesheet" href="{% static 'admin/vendor/font-awesome/css/all.min.css' %}" />
	<link rel="stylesheet" href="{% static 'admin/vendor/boxicons/css/boxicons.min.css' %}" />
	<link rel="stylesheet" href="{% static 'admin/vendor/magnific-popup/magnific-popup.css' %}" />
	<link rel="stylesheet" href="{% static 'admin/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css' %}" />

	<!-- Theme CSS -->
	<link rel="stylesheet" href="{% static 'admin/css/theme.css' %}" />

	<!-- Skin CSS -->
	<link rel="stylesheet" href="{% static 'admin/css/skins/default.css' %}" />

	<!-- Theme Custom CSS -->
	<link rel="stylesheet" href="{% static 'admin/css/custom.css' %}">

	<!-- Head Libs -->
	<script src="{% static 'admin/vendor/modernizr/modernizr.js' %}"></script>

</head>
<body>
<!-- start: page -->
<section class="body-sign">
	<div class="center-sign">
		<div style="margin-left: 5px;">
			<a href="/" class="logo float-start">
				<div class="d-flex align-items-center gap-3">
					<img src="static/img/ng_logo.png" alt="DTA Admin" width="70" />
					<div style="display: flex; flex-direction: column; gap: 0px;">
						<p class="text-5 text-color-dark" style="margin: 0px;">Directorate of Treasuries  </p>
						<p class="text-5 text-color-dark"  style="margin: 0px;">& Accounts, Nagaland</p>
					</div>
				</div>
			</a>
		</div>

		<div class="panel card-sign">
			<div class="card-title-sign mt-3 text-end">
				<h2 class="title text-uppercase font-weight-bold m-0"><i class="bx bx-user-circle me-1 text-6 position-relative top-5"></i> Sign In</h2>
			</div>
			<div class="card-body">
				<p style="color: orange;text-align: justify;">
					{% for message in messages %}
					{{ message }}
					{% endfor %}
				</p>
				<label style="color: red;"> {{errormessage}}</label> 
				<form id="signin" action="{% url 'login' %}" method="post" autocomplete="off">
					{% csrf_token %}
					<div class="form-group mb-3">
						<label>Username</label>
						<div class="input-group">
							<input name="username" type="text" class="form-control form-control-lg" required />
							<span class="input-group-text">
								<i class="bx bx-user text-4"></i>
							</span>
						</div>
					</div>

					<div class="form-group mb-3">
						<div class="clearfix">
							<label>Password</label>
						</div>
						<div class="input-group">
							<input name="password" type="password" class="form-control form-control-lg" required />
							<span class="input-group-text">
								<i class="bx bx-lock text-4"></i>
							</span>
						</div>
					</div>

					<div class="col-md-12">
						<div class="form-group">
							{{CaptchaForm}}
						</div>
						<label style="color: red;"> {{errorCap.captcha}}</label> 
					</div>

					<div class="row">
						<div class="col-sm-8">
							<div class="checkbox-custom checkbox-default">
								<span class="pt-2"><a href="{% url 'reset_password' %}">Forgot your password?</a></span>
								<!-- <input id="RememberMe" name="rememberme" type="checkbox"/>
								<label for="RememberMe">Remember Me</label> -->
							</div>
						</div>
						
						<div class="col-sm-4 text-end">
							<button type="submit" name="submitForm" class="btn btn-primary mt-2">Sign In</button>
						</div>
					</div>
						<!-- /.col -->
						<div class="col-4">
							<input type="hidden" name="newUsername"> 
							<input type="hidden" name="newPassword"> 
							<input type="hidden" name="ul">
							<input type="hidden" name="pl"> 
							<input type="hidden" name="key"> 
							<input type="hidden" name="iv">
						</div>
				</form>
			</div>
		</div>
		<p class="text-center text-muted mt-3 mb-3">&copy; Copyright 2023. All Rights Reserved.</p>
	</div>
</section>
<!-- end: page -->

<!-- Vendor -->
<script src="{% static 'admin/vendor/jquery/jquery.js' %}"></script>
<script src="{% static 'admin/vendor/jquery-browser-mobile/jquery.browser.mobile.js' %}"></script>
<script src="{% static 'admin/vendor/popper/umd/popper.min.js' %}"></script>
<script src="{% static 'admin/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'admin/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'admin/vendor/common/common.js' %}"></script>
<script src="{% static 'admin/vendor/nanoscroller/nanoscroller.js' %}"></script>
<script src="{% static 'admin/vendor/magnific-popup/jquery.magnific-popup.js' %}"></script>
<script src="{% static 'admin/vendor/jquery-placeholder/jquery.placeholder.js' %}"></script>

<!-- Specific Page Vendor -->

<!-- Theme Base, Components and Settings -->
<script src="{% static 'admin/js/theme.js' %}"></script>

<!-- Theme Custom -->
<script src="{% static 'admin/js/custom.js' %}"></script>

<!-- Theme Initialization Files -->
<script src="{% static 'admin/js/theme.init.js' %}"></script>


<!-- Encryption -->
<script src="{% static 'admin/encryption/aes.js' %}"></script>
<script src="{% static 'admin/encryption/uuid.min.js' %}"></script>

<script type="text/javascript">
	$('.captcha').click(function () {
		$.getJSON("/captcha/refresh/", function (result) {
			$('.captcha').attr('src', result['image_url']);
			$('#id_captcha_0').val(result['key'])
		});
	});
	</script> 

	<script type="text/javascript">

		$("#signin").submit(function( event ) {

			var username = $("input[name=username]").val();
			var password = $("input[name=password]").val();

			$('input[name=username]').val('');
			$('input[name=password]').val('');

			function aes_encrypt(plaintext, key, iv) {
			key = CryptoJS.enc.Utf8.parse(key);
			iv = CryptoJS.enc.Utf8.parse(iv);
			let srcs = CryptoJS.enc.Utf8.parse(plaintext);
			let encrypted = CryptoJS.AES.encrypt(srcs, key, {
				iv: iv,
				mode: CryptoJS.mode.CBC,
				padding: CryptoJS.pad.Pkcs7
			});
			return encrypted.ciphertext.toString();
			}


			let key = uuid.v4().substring(1,33);
			let iv = uuid.v4().substring(1,17);

			let cipherusername = aes_encrypt(username, key, iv);
			let cipherpassword = aes_encrypt(password, key, iv);
			
			$('input[name=newUsername]').val(cipherusername);
			$('input[name=newPassword]').val(cipherpassword);
			$('input[name=ul]').val(username.length);
			$('input[name=pl]').val(password.length);
			$('input[name=key]').val(key);
			$('input[name=iv]').val(iv);
			
		});

	</script>
</body>
</html>