{% extends 'components/admin/layout.html' %}
{% load static %}

{% block content %} 

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Download Category</h2>

        <div class="right-wrapper text-end">
            <ol class="breadcrumbs">
                <li></li>

                <li><span>Master</span></li>
                <li><span>Download Category</span></li>

            </ol>
            <a class="sidebar-right-toggle" data-open=""></a>
        </div>
    </header>

    <div class="row">
        <div class="col">
            <section class="card">
                <header class="card-header">
                    <div class="col-lg-6">
                        <a class="mb-1 mt-1 me-1 modal-with-zoom-anim ws-normal btn btn-success" href="#modalForm"><i class='bx bx-news' ></i>  Add Download Category</a>
                    </div>
                </header>
                <div class="card-body">
    
                    <table class="table table-bordered table-striped mb-0" id="datatable-tabletools">
    
                        <thead>
                            <tr>
                                <th>Sl No</th>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in data %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{data.name}}</td>
                                <td>
                                    <a href="#modalDelete" class="mb-1 mt-1 me-1 modal-with-zoom-anim ws-normal btn btn-warning" onclick="deleteFunction('{{data.id}}')"><i class='bx bx-trash' ></i></a>
                                    <a href="#modalFormUpdate" class="mb-1 mt-1 me-1 modal-with-zoom-anim ws-normal btn btn-primary" onclick="updateFunction('{{data.id}}','{{data.name}}')"><i class='bx bx-edit' ></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
    <!-- end: page -->


    <!-- Modal Form -->
    <div id="modalForm" class="zoom-anim-dialog modal-block modal-block-primary mfp-hide">
        <section class="card">
            <form action="{% url 'admin-download-category' %}" method="post" autocomplete="off">
                {% csrf_token %}
            <header class="card-header">
                <h2 class="card-title">Add Download Category</h2>
            </header>

            <div class="card-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="name" required>
                    </div>
                </div>
                <footer class="card-footer">
                    <div class="row">
                        <div class="col-md-12 text-end">
                            <button class="btn btn-default modal-dismiss">Cancel</button>
                            <button type="submit" name="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </footer>
            </form>
        </section>
    </div>
    <!-- end: page -->
      <!-- Modal Form -->
    <div id="modalFormUpdate" class="zoom-anim-dialog modal-block modal-block-primary mfp-hide">
        <section class="card">
            <form action="{% url 'admin-download-category' %}" method="post" autocomplete="off">
                {% csrf_token %}
                <input type="hidden" id="download_category_code_id" name="download_category_code_id">
            <header class="card-header">
                <h2 class="card-title">Update Download Category</h2>
            </header>

            <div class="card-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                </div>
                <footer class="card-footer">
                    <div class="row">
                        <div class="col-md-12 text-end">
                            <button class="btn btn-default modal-dismiss">Cancel</button>
                            <button type="submit" name="update" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </footer>
            </form>
        </section>
    </div>
    <!-- end: page -->
    <div id="modalDelete" class="zoom-anim-dialog modal-block modal-block-warning mfp-hide">
        <section class="card">
            <form action="{% url 'admin-download-category' %}" method="post" autocomplete="off">
                {% csrf_token %}
            <header class="card-header bg-warning">
                <h2 class="card-title text-white">Confirmation!</h2>
            </header>

            <div class="card-body">
                <input type="hidden" class="form-control" name="download_category_id" id="download_category_id">
                   <p class="text-dark">Are you sure you want to delete download category?</p>
                </div>
                <footer class="card-footer">
                    <div class="row">
                        <div class="col-md-12 text-end">
                            <button class="btn btn-default modal-dismiss">Cancel</button>
                            <button type="submit" name="delete" class="btn btn-warning">Delete</button>
                        </div>
                    </div>
                </footer>
            </form>
        </section>
    </div>
    {% if success %}
    <div class="modal fade" id="modalSuccess">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <h2 class="card-title text-white">Confirmation</h2>
                </div>
                <div class="modal-body">
                    <p class="text-dark">{{success}}</p>
                </div>
                <div class="modal-footer justify-content-between">
                    <div class="col-md-12 text-end">
                        <button class="btn btn-success modal-dismiss" onclick="closeModal()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if error %}
    <div class="modal fade" id="modalError">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <h2 class="card-title text-white">Attention!</h2>
                </div>
                <div class="modal-body">
                    <p class="text-dark">{{error}}</p>
                </div>
                <div class="modal-footer justify-content-between">
                    <div class="col-md-12 text-end">
                        <button class="btn btn-warning modal-dismiss" onclick="closeModal()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</section>
    {% endblock content %}

    {% block custom_js %}
    <script>
    $(document).ready(function () {
        var error_msg = '{{error}}' || "";
        var success = '{{success}}' || "";
        if(error_msg != "")
        {
            $('#modalError').modal('show');
        }
        if(success != "")
        {
            $('#modalSuccess').modal('show');
        }

    });
     function closeModal(){
        $('#modalSuccess').modal('hide');
        $('#modalError').modal('hide');
     }
     function updateFunction(code,name){
        $("#download_category_code_id").val(code);
        $("#name").val(name);
     }
     function deleteFunction(id){
        $("#download_category_id").val(id);
     }
    </script>
    {% endblock custom_js %}

